.s1{
    padding-block: 10%;
}
.s1 h3{
    color: white;
}
.rodape p{
    color: white;
}

.rodape a{
    color: white;
    text-decoration: none;

}

@media (max-width: 1120px) {  

    .s1{
        padding-block: 45%;
    }
}

body {
    background-image: linear-gradient(90deg, rgb(209, 97, 97), rgb(129, 9, 9), rgb(129, 9, 9), rgb(209, 97, 97));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}